.jumbo
{
    background-color:transparent;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../images/jumbo5.jpg);
}
.brandIcon
{
    margin: 0;
    padding:0;
}
.brandIcon img
{
    display: inline-block;
    max-height: 100px;
}
#jumbo
{
	padding-top: 20px;
}
#jumbo p
{
	margin-bottom:4px;
}

.keyword
{
	color:blue;
}

#rating
{
    margin-top: 50px;
    min-height: 400px;
}


#rating .language
{
    color:rgb(100, 48, 48); 
    font-size:16px;
}
#rating .rating
{
    color:rgb(216, 130, 99); 
    font-size:20px;
}


a[id= "rating"]:target ~ #rating {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}