.jumbo
{
    padding-top:100px;
    background-color:transparent;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../images/jumbo5.jpg);
}
.brandIcon
{
    margin: 0;
    padding:0;
}
.brandIcon img
{
    display: inline-block;
    max-height: 100px;
}
g#jumbo p
{
	margin-bottom:4px;
}

.keyword
{
	color:blue;
}

#rating, #contact
{
    padding-top: 80px;
    padding-bottom: 40px;
}
#contact
{
    padding-top: 80px;
    padding-bottom: 40px;
}


#rating .language
{
    color:rgb(100, 48, 48); 
    font-size:16px;
}
#rating .rating
{
    color:rgb(216, 130, 99); 
    font-size:20px;
}


a[id= "rating"]:target ~ #rating {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}

.social
{
    display: inline-block;
    height: 30px;
    width:30px;
    background-size: cover;
    background-repeat: no-repeat;
}
.fb
{
    background-image: url('../images/facebook-icon.png');
}
.twitter
{
    background-image: url('../images/twitter-icon.png');
}
.linkedin
{
    background-image: url('../images/linkedin-icon.png');
}
.stack
{
    background-image: url('../images/stack_exchange.png');
}

.quora
{    
    background-image: url('../images/quora.png');
}

.spoj
{
    background-image: url('../images/spoj.png');    
}

.github
{
    background-image: url('../images/github.png');    
}